
*{
  padding: 0;
  margin: 0;
  
}
a{
  text-decoration: none;
}
span{
  color: #480ca8;
  cursor: pointer;
}
label{
  font-weight: 600;
}

.main_div{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_div{
  width: 350px;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
#signin_google{
  background-color: white;
  border: 1px solid grey;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}
#google_text{
  color: black;
  margin-top: -10px;
}

fieldset{
  text-align: center;
  color: grey;
  border-top : 1px solid grey;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

#form{
  outline: none;
  border-radius: 20px;
  border: 1px solid grey;
  width: 350px;
  height: 40px;
  text-align:center;
  margin-top: 10px;
}

.validemail{
  font-weight: bold;
  color: red;
  position:absolute;
  left: 53%;
}

button{
  outline: none;
  border-radius: 20px;
  border: none;
  width: 350px;
  height: 40px;
}

#login_button{
  background-color: #3a0ca3;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register{
  font-weight: 500;
}
#forgot{
  cursor: pointer;
  float: right;
}

